@page
@model CincinnatiAccidents.Pages.FireStations.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add Fire Station Details</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FireStation.Neighbourhood" class="control-label"></label>
                <input asp-for="FireStation.Neighbourhood" class="form-control" placeholder="Enter Neighbourhood Name"/>
                <span asp-validation-for="FireStation.Neighbourhood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.FireStationNumber" class="control-label"></label>
                <input asp-for="FireStation.FireStationNumber" class="form-control" placeholder="Enter Fire Station Number" />
                <span asp-validation-for="FireStation.FireStationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.EngineCompany" class="control-label"></label>
                <input asp-for="FireStation.EngineCompany" class="form-control" placeholder="Enter Engine Company" />
                <span asp-validation-for="FireStation.EngineCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.LadderCompany" class="control-label"></label>
                <input asp-for="FireStation.LadderCompany" class="form-control" placeholder="Enter Ladder Company"/>
                <span asp-validation-for="FireStation.LadderCompany" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.MedicUnit" class="control-label"></label>
                <input asp-for="FireStation.MedicUnit" class="form-control" placeholder="Enter Medic Unit" />
                <span asp-validation-for="FireStation.MedicUnit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.District" class="control-label"></label>
                <input asp-for="FireStation.District" class="form-control" placeholder="Enter District Name" />
                <span asp-validation-for="FireStation.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FireStation.Zip" class="control-label"></label>
                <input asp-for="FireStation.Zip" class="form-control" placeholder="Enter Zip Code"/>
                <span asp-validation-for="FireStation.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
