@page
@model CincinnatiAccidents.Pages.AddFireStationModel
@{
    ViewData["Title"] = "Fire Stations";
}

<div class="text-center">
    <h1 class="display-4">Fire Stations</h1>
    <form method="post">
        <input type="text" name="Neighbourhood" placeholder="Neighbourhood" size="40" /><br />
        <input type="text" name="FireStationNumber" placeholder="Fire Station Number" size="40" /><br />
        <input type="text" name="EngineCompany" placeholder="Engine Company" size="40" /><br />
        <input type="text" name="LadderCompany" placeholder="Ladder Company" size="40" /><br />
        <input type="text" name="MedicUnit" placeholder="Medic Unit" size="40" /><br />
        <input type="text" name="District" placeholder="District" size="40" /><br />
        <input type="text" name="Zip" placeholder="Zip" size="40" /><br />
        <input id="Button1" type="submit" value="Click it" />
    </form>
</div>

