@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4"> Cincinnati Fire / Traffic Accidents </h1>
    <h2> Work in Progress </h2>
</div>
