@page
@model CincinnatiAccidents.Pages.SummaryModel
@{
    ViewData["Title"] = "Summary";
    var locationNames = ViewData["LocationNames"];
    var trafficaccidents = (Traffic.TrafficAccident[])ViewData["trafficAccidents"];
    var fireaccidents = (Fire.FireAccident[])ViewData["fireAccidents"];
}
<link rel="stylesheet" type="text/css" href="~/css/StyleSheet.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<h5 align="center">Cincinnati Accident Summary (2012 - Present)</h5>
<table class="table table-bordered table-striped table-hover">
    <thead class="badge-danger">
        <tr>
            <th>Neighborhood</th>
            <th>Traffic Accidents</th>
            <th>Fire Accidents</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var neighborhood in ViewBag.locationNames)
        {
            <tr>
                <td id="boldface">@neighborhood</td>
                <td>@trafficaccidents.Where(x => x.CommunityCouncilNeighborhood.ToUpper().Equals(neighborhood.ToUpper())).Count()</td>
                <td>@fireaccidents.Where(x => x.CommunityCouncilNeighborhood.ToUpper().Equals(neighborhood.ToUpper())).Count()</td>
            </tr>
        }
    </tbody>
</table>


